*{
margin:0;
padding:0;
}
body{

}
#showcase{
background-image:url(pexels-photo-461789.jpeg);
height:100vh;
background-size:cover;
background-position:center;
}
#bb{
margin-top:9px;
}
#glogin{
margin:0;
padding:0;
height:89vh;
background:url(glogin.jpg);
background-position:center;
background-size:cover;
}


